# Maven
target/
*.jar
*.war
*.ear

# Node
node_modules/
**/node_modules/
dist/
**/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/

# IDEs
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# OS
.DS_Store
Thumbs.db
